/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
.content-sep {
  margin-top: 10rem;
  border-top: 1rem solid #d3a1f5;
  border-bottom: 1rem solid #6b6b6b;
  width: 100%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
/* TOP NAVIGATION MENU */
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: #d3a1f5;
  padding-left: 10%;
}
nav a {
  color: #fafafa;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0 5%;
  transition-duration: 300ms;
}
nav a:last-child {
  padding: 0;
  margin: 0 5%;
}
nav a:hover {
  transition-property: color;
  color: #6b6b6b;
}
/* Buttons */
.login {
  background: #6b6b6b;
  height: 3rem;
  width: 10rem;
  min-width: 8rem;
  line-height: 3rem;
  border-radius: 5px;
  text-align: center;
  transition-duration: 300ms;
}
.login:hover {
  transition-property: background, color;
  background: #444444;
  color: #fafafa;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
header img {
  width: 500px;
}
header .logo {
  font-size: 7rem;
  font-weight: 700;
  color: #945fcd;
  margin-top: 10%;
}
header .logo:hover {
  scale: 2 0.7;
}
header .logo a {
  text-decoration: none;
  color: #945fcd;
}
header .tagline {
  font-size: 3rem;
  margin-top: 1.7rem;
  color: #444444;
}
@media (max-width: 800px) {
  header .tagline {
    text-align: center;
  }
}
@media (max-width: 500px) {
  header .tagline {
    text-align: center;
  }
}
header .hero-section {
  padding: 3%;
  margin-top: 5rem;
  min-width: 42rem;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fdfcd5;
  border-radius: 5px;
}
@media (max-width: 800px) {
  header .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
header .hero-section img {
  width: 60%;
}
@media (max-width: 800px) {
  header .hero-section img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .hero-section img {
    width: 100%;
  }
}
header .hero-section .side-hero {
  width: 40%;
}
@media (max-width: 1284px) {
  header .hero-section .side-hero div p {
    font-size: 2.5rem;
  }
}
@media (max-width: 1100px) {
  header .hero-section .side-hero div p {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  header .hero-section .side-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  header .hero-section .side-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header .hero-section .side-hero p {
  line-height: 5rem;
  font-size: 3rem;
  font-weight: 300;
  color: #444444;
}
header .hero-section .side-hero .grade-example {
  margin: 2rem 0;
  color: #11c468;
  padding-left: 20%;
  font-size: 10rem;
}
@media (max-width: 800px) {
  header .hero-section .side-hero .grade-example {
    padding-left: 0;
  }
}
@media (max-width: 500px) {
  header .hero-section .side-hero .grade-example {
    padding-left: 0;
  }
}
header .hero-section .side-hero .small-text {
  font-size: 4rem;
}
/* Icons */
.hero-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3rem;
}
@media (max-width: 800px) {
  .hero-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .hero-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero-icon p {
  margin-left: 1rem;
}
.icon {
  margin-right: 1rem;
}
/* Buttons */
.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #6bed90;
  height: 7rem;
  width: 80%;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  transition-duration: 300ms;
  border: 1px solid #088d63;
}
@media (max-width: 1000px) {
  .cta-button {
    padding: 0 1.5%;
    font-size: 2.5rem;
  }
}
.cta-button:hover {
  transition-property: background;
  background: #11c468;
}
.cta-button a {
  color: #fafafa;
  text-decoration: none;
}
/* Main Content */
.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container .content-block {
  padding: 5rem;
  width: 90%;
  background: #ecf0f1;
  border-radius: 5px;
  margin-bottom: 5rem;
}
.container .content-block h3 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.container .content-block p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 4rem;
  margin: 1rem 0;
}
.container .content-block .col50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid red;
}
.container .content-block .col50 img {
  width: 100%;
}
.container .content-block .col50 p {
  width: 100%;
  margin: 0;
}
.bottom-content {
  padding: 5rem;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-content img {
  width: 100%;
}
@media (max-width: 500px) {
  .bottom-content img {
    margin-top: 3rem;
    width: 100%;
  }
}
.bottom-content h3 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 10rem 0 5rem;
  text-align: center;
}
@media (max-width: 500px) {
  .bottom-content h3 {
    font-size: 3rem;
  }
}
.bottom-content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 4rem;
  margin: 1rem 0;
}
.twoCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-to {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 6rem;
  margin: 5rem 5%;
  padding: 2% 5%;
  background: #fafafa;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .how-to {
    font-size: 2rem;
    width: 100%;
    margin: 0;
    margin-top: 3rem;
    line-height: 2rem;
  }
}
@media (max-width: 800px) {
  .how-to {
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    margin-top: 3rem;
    line-height: 2rem;
  }
}
@media (max-width: 500px) {
  .how-to {
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    margin-top: 3rem;
    line-height: 4rem;
  }
}
.how-to ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1000px) {
  .how-to ul li {
    border-bottom: 1px dashed #444444;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    line-height: 4rem;
  }
  .how-to ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .how-to ul li i {
    margin-right: 1rem;
  }
}
@media (max-width: 800px) {
  .how-to ul li {
    border-bottom: 1px dashed #444444;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .how-to ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
@media (max-width: 500px) {
  .how-to ul li {
    border-bottom: 1px dashed #444444;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .how-to ul li i {
    display: none;
  }
  .how-to ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.footer-cta-button {
  margin-bottom: 2rem;
  border-radius: 5px;
  background: #3c1e76;
  height: 7rem;
  width: 40%;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 300ms;
  border: 1px solid #291262;
}
@media (max-width: 800px) {
  .footer-cta-button {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .footer-cta-button {
    width: 100%;
  }
}
.footer-cta-button:hover {
  transition-property: background;
  background: #291262;
}
.footer-cta-button a {
  color: #fafafa;
  text-decoration: none;
}
footer {
  margin-top: 5rem;
  color: #ffffff;
  width: 100%;
}
footer .footHead {
  width: 100%;
  height: 1.2rem;
  background: #d3a1f5;
}
footer .footContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  width: 100%;
  height: 3rem;
  background: #6b6b6b;
}
footer p {
  line-height: 3rem;
  font-size: 1.2rem;
}
footer a {
  color: #fafafa;
  text-decoration: none;
  transition-duration: 300ms;
}
footer a:hover {
  transition-property: opacity;
  opacity: 0.85;
}
