/* About Page */

.about {
  padding: 5rem;
  width: 90%;
  background: #ecf0f1;
  border-radius: 5px;
  margin: 5rem 0;

  @media @phone {
    width: 100%;
    padding: 1.5rem;
  }

  .about-person {
    margin: 10rem 0;
    .flex-row(space-between, center);

    @media @desktop {
      .flex-col(center, center);
    }

    .about-image {
      // Team member about image
      width: 20%;
      .flex-row(center, center);

      @media @desktop {
        margin-bottom: 3rem;
      }

      img {
        width: 25rem;
        min-width: 25rem;
        min-height: 25rem;
        height: 25rem;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;

        @media (max-width: 1625px) {
          width: 18rem;
          height: 18rem;
          min-width: 18rem;
          min-height: 18rem;
        }

        @media (max-width: 1210px) {
          width: 14rem;
          height: 14rem;
          min-width: 14rem;
          min-height: 14rem;
        }

        @media @desktop {
          width: 21rem;
          height: 21rem;
          min-width: 21rem;
          min-height: 21rem;
        }

        @media @phone {
          width: 14rem;
          height: 14rem;
          min-width: 14rem;
          min-height: 14rem;
        }
      }
    }

    .about-content {
      // Team member about description
      width: 75%;
      margin-left: 5%;
      border-left: 1px solid @secondary;
      padding-left: 5%;

      @media @desktop {
        border-left: none;
        margin-left: 0;
      }

      .pos {
        // team position title
        font-size: 1.8rem;
        color: @primary;
        font-weight: @medium;

        @media (max-width: 890px) {
          display: block;
          margin-top: 1rem;
        }

        @media (max-width: 679px) {
          font-size: 1.5rem;
        }
      }

      .github {
        background: @primary-border;
        width: 25%;
        margin-top: 4rem;
        padding: 2%;
        font-size: 2.4rem;
        font-weight: @light;
        color: #fafafa;
        text-align: center;
        transition-duration: 300ms;
        border-radius: 5px;

        @media (max-width: 1122px) {
          width: 100%;
          padding-top: 5%;
          padding-bottom: 5%;
        }

        @media @phone {
          font-size: 2rem;
          min-width: 10rem;
        }

        &:hover {
          transition-property: background;
          background: @main-text;
        }

        a {
          color: #fafafa;
          text-decoration: none;
        }
      }
    }
  }

  h4 {
    font-size: 3.5rem;
    font-weight: @light;

    @media @desktop {
      text-align: center;
    }

    @media (max-width: 679px) {
      font-size: 2.8rem;
    }

    @media (max-width: 575px) {
      font-size: 2.4rem;
    }
  }

  h3 {
    font-size: 3.5rem;
    font-weight: @light;
    margin-bottom: 2rem;

    @media (max-width: 673px) {
      text-align: center;
      font-size: 2.8rem;
    }
  }

  p {
    font-size: 2rem;
    font-weight: @light;
    line-height: 4rem;
    margin: 1rem 0;

    @media @phone {
      font-size: 1.6rem;
    }
  }
}
