/* About Page */

.about {
  padding: 5rem;
  width: 90%;
  background: #ecf0f1;
  border-radius: 5px;
  margin: 5rem 0;

  .about-person {
    margin: 10rem 0;
    .flex-row(space-between, center);

    .about-image {
      // Team member about image
      width: 20%;

      img {
        width: 25rem;
        min-width: 25rem;
        min-height: 25rem;
        height: 25rem;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .about-content {
      // Team member about description
      width: 75%;
      margin-left: 5%;
      border-left: 1px solid @secondary;
      padding-left: 5%;
    }
  }

  h4 {
    font-size: 3.5rem;
    font-weight: @light;
  }

  h3 {
    font-size: 3.5rem;
    font-weight: @light;
    margin-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    font-weight: @light;
    line-height: 4rem;
    margin: 1rem 0;
  }
}
