/* About Page */

.about {
  padding: 5rem;
  width: 90%;
  background: #ecf0f1;
  border-radius: 5px;
  margin: 5rem 0;

  .about-person {
    .flex-row(space-between, center);

    img {
      width: 25%;
    }
  }

  h3 {
    font-size: 3.5rem;
    font-weight: @light;
    margin-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    font-weight: @light;
    line-height: 4rem;
    margin: 1rem 0;
  }
}
