footer {
  margin-top: 5rem;
  color: #ffffff;
  width: 100%;

  .footHead {
    width: 100%;
    height: 1.2rem;
    background: @secondary;
  }

  .footContent {
    .flex-row(flex-end, center);
    padding: 0 5%;
    width: 100%;
    height: 3rem;
    background: @gray-dark;

    @media @darkmode {
      background: rgb(14, 14, 14);
    }
  }

  p {
    line-height: 3rem;
    font-size: 1.2rem;
  }

  a {
    color: #fafafa;
    text-decoration: none;
    transition-duration: 300ms;

    @media @darkmode {
      color: #c4c4c4;
    }

    &:hover {
      transition-property: opacity;
      opacity: 0.85;
    }
  }
}
