header {
    width: 100%;
    .flex-col(space-between, center);
    
    img {
        width: 500px;
    }

    .logo {
        font-size: 7rem;
        font-weight: @heavy;
        color: @primary;
        margin-top: 10%;
    }

    .tagline {
        font-size: 3rem;
        margin-top: 1.7rem;
    }
}
