/* TOP NAVIGATION MENU */

nav {
  width: 100%;
  background: @secondary;
  .flex-row(space-around, center);
  height: 5rem;
  padding-left: 3.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .main-nav {
    width: 80%;
  }

  a {
    &:first-child {
      padding-left: 0;
    }

    // nav link styling
    padding: 0 5rem;
    text-decoration: none;
    color: #fafafa;
    font-weight: @light;
    font-size: 1.6rem;
    transition-duration: 200ms;

    &:hover {
      transition-property: color;
      color: rgb(223, 223, 223);
    }
  }

  .login {
    background: @gray-dark;
    border-radius: 5px;
    font-size: 1.6rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 2rem;
    margin: 0 5rem;
    text-align: center;
    transition-duration: 500ms;

    &:hover {
      transition-property: background;
      background: #4e4e4e;
      color: #fafafa;

      a {
        color: #fafafa;
      }
    }
  }
}
