/* This LESS file houses all of our escaped media queries for mobile
   responsiveness, font stacks, color palette, etc. */

// media query variables
@desktop: ~"(max-width: 1000px)";
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";
@darkmode: ~"(prefers-color-scheme: dark)";

// fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@font-stack: "Roboto", sans-serif;
@light: 300;
@regular: 400;
@medium: 500;
@heavy: 700;

// colors
@primary: #945fcd;
@primary-border: #7345b0;
@secondary: #d3a1f5;
@green-dark: #57988e;
@green-dark-border: #3f827e;
@green-light: #83c1b1;
@gray-dark: #6b6b6b;
@main-text: #2e343b;

// dark mode colors
@darkmode-primary-text: #c4c4c4;
